<form action="/save_entry">
  <input type="text" placeholder="Enter band name" name="band_name">
  <input type="text" placeholder="Enter album name" name="album_name">
  <input type="number" placeholder="Enter media type id" name="media_type_id">
  <input type="number" placeholder="Enter location id" name="location_id">
  
  <input type="submit">  
</form>

<p>Media Type Information</p>
  <ul>  
    <% MediaType.all.each do |media|%>
    <li><%= media.id %>. <%= media.type %></li>
    <% end %>
  </ul>
 
 <p>Location Information</p> 
  <ul>  
    <% Location.all.each do |location|%>
    <li><%= location.id %>. <%= location.name %></li>
    <% end %>
  </ul>