<h2> What would you like to add to the inventory manager?</h2>

<ul>
  <li><a href="/add_entry">Add an entry</a></li>
  <li><a href="/add_media">Add a media type</a></li>
  <li><a href="/add_location">Add a location</a></li>
</ul>