<form action="/update_location/<%= params["x"] %>">
  <input type="number" placeholder="Enter the new location number" name="location_id">
  
  <input type="submit">  
</form>

  <ul>  
    <% Location.all.each do |location|%>
    <li><%= location.id %>. <%= location.name %></li>
    <% end %>
  </ul>