<h2> Click the entry you would like to change:</h2>
  <ul>  
    <% MusicCollection.all.each do |music| %>
    <li><a href="/change_a_name_form/<%= music.id %>"><%= music.band_name %> - <%= music.album_name%></a></li>
    <% end %>
  </ul>