<h2>What would you like to change?</h2>

<ul>
  <li><a href="/change_list_b_name">Band name</a></li>
  <li><a href="/change_List_a_name">Album name</a></li>
  <li><a href="/change_list_m_type">Media type</a></li>
  <li><a href="/change_list_location">Location</a></li>
</ul>