<h2>What would you like to delete:</h2>
  <ul>
    <li><a href="/delete_list_entry/:x">music entry</a></li>
    <li><a href="/delete_list_m/:x">media type</a></li>
    <li><a href="/delete_list_l/:x">location</a></li>
  </ul>