 <h2>Click the locattion you would like to delete</h2> 
  <ul>  
    <% Location.all.each do |location|%>
    <li><a href="/delete_l/<%= location.id %>"><%= location.name %></a></li>
    <% end %>
  </ul>