 <h2>Enter the type of media you would like to view</h2> 
  <ul>  
    <% MediaType.all.each do |media|%>
    <li><%= media.id %>. <%= media.type %></li>
    <% end %>
  </ul>
  
  <form action="/read_m_entries/<%=params["x"]%>">
    <input type="number" placeholder="Enter the number of the media type" name="media_type_id">
    
    <input type="submit">
  </form>
  
  