<h2>What would you like to view:</h2>
<ul>
  <li><a href="/read_all">All of the music entries</a></li>
  <li><a href="/read_m_type_list/:x">All of the music in one media type</a></li>
  <li><a href="/read_l_list/:x">All of the music in one location</a></li>
</ul>

<a href="/home">Back to Home</a>